body{
    height: 100%;
    margin: 0;
}
.kontainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    min-width: 80%;
    border-collapse: collapse;
}
tr{
    font-size: 16px;
    font-family: Helvetica;
}
tr:nth-child(even){
    background-color: #f7f7f7;
}
th{
    background: #444444;
    color:white;
    padding: 15px;
}	
th:nth-child(1){
    border-top-left-radius: 5px;
}
th:nth-child(4){
    border-top-right-radius: 5px;
}
td{
    padding: 15px;
}
tr:hover{
    background: #0000001c;
    cursor: pointer;
    transition: all ease-in 0.2s;
}
